<h1>Список заказов</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Адрес</th>
      <th>Email</th>
      <th>Тип оплаты</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'Показать', order %></td>
        <td><%= link_to 'Редактировать', edit_order_path(order) %></td>
        <td><%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый заказ', new_order_path %>
<p><%= will_paginate @orders %></p>
