<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Тип оплаты:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Редактировать', edit_order_path(@order) %> |
<%= link_to 'Назад', orders_path %>
