<h1>Список товарных позиций</h1>

<table>
  <thead>
    <tr>
      <th>Продукты</th>
      <th>Корзина</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product_id %></td>
        <td><%= line_item.cart_id %></td>
        <td><%= link_to 'Показать', line_item %></td>
        <td><%= link_to 'Редактировать', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Удалить', line_item, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая товарная позиция', new_line_item_path %>
