<!DOCTYPE html>
<html>
<head>
  <title>Мое что то...</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="<%= controller.controller_name %>">
  <div class="wrapper container">

    <header>

          <div class="page-header form-inline">



          <h1>      <%= image_tag("logo.jpg") %>Магазин...</h1>

      <form name="search" action="#" method="get" class="form-inline form-search navbar-right">
      <div class="input-group">
      <label class="sr-only" for="searchInput">Search</label>
      <input class="form-control" id="searchInput" type="text" name="search" placeholder="Введите текст">
      <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">Поиск</button>
      </div>
      </div>
      </form>
      </div>
    </header>

       <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
         <li><i class="icon-home"></i><%= link_to 'Домашняя страница', store_path %></li>
         <li><%= link_to 'Вопросы', faq_path %></li>
         <li><%= link_to 'Новости', news_path %></li>
         <li><%= link_to 'Контакты', contact_path %></li>
        </ul>
       </nav>

            <section class="wrapper container">
                <div id="main">
                 <%= yield %>
                </div>
            </section>

    </div>
    <footer></footer>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
